.td-navbar .navbar-brand svg {
    height: 60px;
    position: absolute;
    top: 0px;
}
.td-navbar .navbar-brand span.text-uppercase {
    margin-left: 70px;
}
.breadcrumb {
    padding-top: 1rem;
}

.td-toc {
    top: 5rem;
}

#main-subtitle {
    margin-top: 11rem;
}
body {
    color: #333;
}

a {
    color: #3B59A4;
}

a.btn {
    border-radius:4px;
}

code {
    color: #3B59A4;
}

abbr {
    color: #2E323D;
}