html {
    font-display: swap;
}

.td-navbar .navbar-brand svg {
    height: 60px;
    position: absolute;
    top: 0px;
}
.td-navbar .navbar-brand span.text-uppercase {
    margin-left: 70px;
}
.breadcrumb {
    padding-top: 1rem;
}

.td-cover-block {
    background-position: 50% 100%;
}

.td-toc {
    top: 5rem;
}

body {
    color: #333;
}

a {
    color: #3B59A4;
}

a.btn {
    border-radius:4px;
}

.btn {
    border-radius: 4px;
}

code {
    color: #3B59A4;
}

abbr {
    color: #2E323D;
}

ul.navbar-nav .dropdown {
    margin: 0 20px;
}

.popover {
    z-index: 30;
}

.popover i {
    float: right;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.glossary {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    cursor: pointer;
}

.glossary-item {
    margin-right: 5px;
}

.glossary-text * {
    display: inline !important;
    padding-inline-start: 0 !important;
}

.feedback--title {
    border-top: 1px solid #464C5C !important;
    padding-top: 1em;
}

.td-content table code.lang, .td-content p code.lang {
    background-color: #3B59A4;
    color: #FFF;
    margin-right: 2px;
    white-space: nowrap;
}

.td-content table code.platform, .td-content p code.platform {
    background-color: #ad4b00;
    color: #FFF;
    margin-right: 2px;
    white-space: nowrap;
}

.td-content table code.tool, .td-content p code.tool {
    background-color: #008e87;
    color: #FFF;
    margin-right: 2px;
    white-space: nowrap;
}

table.dataTable {
    thead th,
    thead td {
        background-color: #464C5C;
        color: white;
        border: none;
    }

    tr td {
        border-right: 1px #F2F3F5 solid;
        border-top: none;
    }

    tr.dtrg-group.dtrg-level-0 td {
        background-color: #CED0D6 !important;
    }

    tr.dtrg-group.dtrg-level-1 td {
        background-color: #E8E9EB !important;
        padding-left: 1em !important;
    }
}

#td-cover-block-0 h1 {
    margin-top: 8rem !important;
}

.td-cover-block--height-min {
    min-height: 350px;
}

.td-cover-block--height-max {
    min-height: 600px;
}

.giant-icon {
    font-size: 86pt;
}

.td-box .row {
    padding-left: 2rem;
    padding-right: 2rem;
}