html {
    font-display: swap;
}

.td-navbar .navbar-brand svg {
    height: 60px;
    position: absolute;
    top: 0px;
}
.td-navbar .navbar-brand span.text-uppercase {
    margin-left: 70px;
}
.breadcrumb {
    padding-top: 1rem;
}

.td-cover-block {
    background-position: 50% 100%;
}

.td-toc {
    top: 5rem;
}

body {
    color: #333;
}

a {
    color: #3B59A4;
}

a.btn {
    border-radius:4px;
}

.btn {
    border-radius: 4px;
}

code {
    color: #3B59A4;
}

abbr {
    color: #2E323D;
}

ul.navbar-nav .dropdown {
    margin: 0 20px;
}

.popover {
    z-index: 30;
}

.popover i {
    float: right;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.glossary {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    cursor: pointer;
}

.glossary-item {
    margin-right: 5px;
}

.glossary-text * {
    display: inline !important;
    padding-inline-start: 0 !important;
}

.feedback--title {
    border-top: 1px solid #464C5C !important;
    padding-top: 1em;
}

.td-content table code.lang, .td-content p code.lang {
    background-color: #3B59A4;
    color: #FFF;
    margin-right: 2px;
    white-space: nowrap;
}

.td-content table code.platform, .td-content p code.platform {
    background-color: #ad4b00;
    color: #FFF;
    margin-right: 2px;
    white-space: nowrap;
}

.td-content table code.tool, .td-content p code.tool {
    background-color: #008e87;
    color: #FFF;
    margin-right: 2px;
    white-space: nowrap;
}

table.dataTable {
    thead th,
    thead td {
        background-color: #464C5C;
        color: white;
        border: none;
    }

    tr td {
        border-right: 1px #F2F3F5 solid;
        border-top: none;
    }

    tr.dtrg-group.dtrg-level-0 td {
        background-color: #CED0D6 !important;
    }

    tr.dtrg-group.dtrg-level-1 td {
        background-color: #E8E9EB !important;
        padding-left: 1em !important;
    }
}

#td-cover-block-0 h1 {
    margin-top: 8rem !important;
}

.giant-icon {
    font-size: 86pt;
}

.td-box .row {
    padding-left: 2rem;
    padding-right: 2rem;
}

.td-cover-block {
    color: #fff;
}

/* YOUMAX */
.youmax-showing {color:whitesmoke;font-weight:normal;  text-shadow: none;}

.youmax-duration {background-color: #2E323D;color: white;padding: 2px 3px;font-weight: bold;position: absolute;bottom: 0;right: 0;opacity: 0.8;}

#youmax-header {background-color:#2E323D;font:24px Arial;color:white;line-height:25px;height:90px;text-align:left;position: relative;}
#youmax-header a {color: white;}
.youmax-stat {float:right;margin:10px;font:10px Arial;color:#ccc;margin-top: 25px;text-align: center;}

#youmax-stat-holder {float:right;height:100%;}

.youmax-stat-count {font: 18px Arial;}

#youmax-channel-desc {text-align:left;}

#youmax {width:100%; max-width:1000px;margin:0px auto;font-size: 14px; overflow-x:hidden;}

.youmax-video-tnail {width:100%; background-repeat:no-repeat; background-size:cover;height:120px;position: relative;}

.youmax-video-tnail-box {    margin-bottom: 15px;overflow:hidden;box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);cursor:pointer;cursor:hand;  background-color: white;}

#youmax-encloser {}

#youmax-video-list-div { padding-top: 20px; }

.youmax-video-list-title {color:#438bc5;display: inline-block;padding:2% 10px; padding-bottom: 0px;font-weight:bold;max-width:250px;max-height:50px;overflow:hidden;}

.youmax-video-list-views {color:#555;padding:1% 10px; padding-bottom: 3%;display:inline-block;font-size:12px;}

.youmax-playlist-sidebar {background-color:rgba(0,0,0,0.8);float:right;max-width:50%;height:100%;color:white;text-align:left;width: 70px;}

.youmax-playlist-video-count {	display:inline-block;margin:3%;margin-top:5%;height:20%;  margin-top: 55px; }

.youmax-playlist-sidebar-video {opacity:1;width:64px;height:20%;background-color:rgb(114,114,114);display:inline-block;margin:2% auto;background-size:cover;background-position: center center;background-repeat:no-repeat;}
.youmax-tab {background-color:rgb(230,230,230);color:#666;text-shadow:0 1px 0 #fff;display: inline-block;margin: 5px;margin-top: 10px;padding: 5px;cursor:pointer;cursor:hand;}

#youmax-tabs {text-align:left;background-color:rgb(230,230,230);padding-left: 10px;border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;    font-size: 18px;}

#youmax-lightbox {position:fixed;background-color:rgba(0,0,0,0.9);z-index:100;width:100%;height:100%;left:0;top:0;}

#youmax-video-lightbox {opacity:1;}

.youmax-subscribe div {
position:static !important;
vertical-align: top !important;
}

.youmax-subscribe iframe {
position:static !important;
}

.youmax-subscribe{
display: inline-block;
width: 150px;
height: 25px;
overflow: hidden;
position: absolute;
top: 0;
margin: auto;
bottom: 0;
right: 0;
}

#youmax-header-logo{
vertical-align:middle; height:60px; margin: 15px; display:inline-block;
  margin-left: 32px;
}

div#youmax-load-more-div {
  /* height: 40px; */
  padding: 10px;
  margin: 15px 30px;
  font-size: 18px;
  border: 1px solid #ccc;
  cursor:pointer;
}

.youmax-tab-hover {
color:#eee;
background-color:#999;
text-shadow:0 0;

}

.youmax-showing-title {
font-size: 18px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
	display: inline-block;
}

iframe#youmax-video {
  margin-bottom: 20px !important;
}

.youmax-load-more-div-click {
	background: darkgray;
	color:white;
}

#youmax-load-more-div:hover {
	background: darkgray;
	color:white;
}

.card-text { 
    color: #555; font-size: 12px;
}

.promoting-card {
    border: none;
}

@media (max-width: 576px) {
    .habrText {
        display: none;
    }    

    .youmax-subscribe {
        margin-bottom: 0;
    }
}

.idome:not(#TableOfContents .idome) {
    background-color: #2E323D;
    color: white;
    padding: 3px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    padding-top: 6px;
    font-weight: bold;
}

.mermaid {
    color: white;
}