.td-navbar .navbar-brand svg {
    height: 60px;
    position: absolute;
    top: 0px;
}
.td-navbar .navbar-brand span.text-uppercase {
    margin-left: 70px;
}
.breadcrumb {
    padding-top: 1rem;
}

.td-toc {
    top: 5rem;
}

#main-subtitle {
    margin-top: 11rem;
}
body {
    color: #333;
}

a {
    color: #3B59A4;
}

a.btn {
    border-radius:4px;
}

.btn {
    border-radius: 4px;
}

code {
    color: #3B59A4;
}

abbr {
    color: #2E323D;
}

ul.navbar-nav .dropdown {
    margin: 0 20px;
}

.popover {
    z-index: 30;
}

.popover i {
    float: right;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.glossary {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    cursor: pointer;
}

.glossary-item {
    margin-right: 5px;
}

.glossary-text * {
    display: inline !important;
    padding-inline-start: 0 !important;
}

#td-cover-block-people {
    background-image: url('/images/people.jpg');
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.feedback--title {
    border-top: 1px solid #464C5C !important;
    padding-top: 1em;
}