/*

Add styles or override variables from the theme here.

*/

$primary: #2E323D !default;
$secondary: #F2F3F5 !default;
$warning: #C39844 !default;
$light: #E8E9EB !default;
$dark: #403F4C !default;
$info: #3B59A4 !default;
$success: #5AB030 !default;
$danger: #E6615E !default;
$border-color: #464C5C !default;
$google_font_name: "Roboto" !default;
$google_font_family: "Roboto:300,300i,400,400i,700,700i" !default;