<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/fh-3.1.7/rg-1.1.2/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/fh-3.1.7/rg-1.1.2/datatables.min.css"/>

<script>
    $(document).ready( function () {
      $('#tablestack').DataTable({
        ajax: {
          url: '/stack.json',
          dataSrc: ''
        },
        columns: [
          { data: 'Area' },
          { data: 'Cases' },
          { data: 'Research' },
          { data: 'Trial' },
          { data: 'Best choice' },
          { data: 'Hold' }
        ],
        paging: false,
        scrollY: 600,
        ordering:  false,
        info: false,
        rowGroup: {
          dataSrc: ['Area', 'Cases']
        },
        columnDefs: [
          { 
            visible: false,
            targets: [0, 1]
          },
          { 
            width: "25%", 
            targets: [2, 3, 4, 5]
          }
        ]
      });
  } );
  </script>
  
  <table id="tablestack" class="table">
  <thead>
  <tr>
  <th>Area</th>
  <th>Cases</th>
  <th>Research</th>
  <th>Trial</th>
  <th>Best choice</th>
  <th>Hold</th>
  </tr>
  </thead>
  </table>